<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <title>MultiBlog Home</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>
    <body>
        <nav>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/index">Home</a></li>
                <li><a href="/newpost">New Post</a></li>
            </ul>
        </nav>

        <p th:unless="${posts} and ${posts.size()}">no posts :(</p>
        <div th:each="post : ${posts}">
            <div class="card">
                <div class="card-body">
                    <a th:href="@{'/b/' + ${post.blog.title} + '/' + ${post.urlFriendlyTitle}}"><h5 class="card-title" th:text="${post.title}"></h5></a>
                    <p class="card-text" th:text="${post.bodyExcerpt}"></p>
                    <footer class="blockquote-footer" th:text="${post.blog.title} + ' at ' + ${post.timestamp}"></footer>
                </div>
            </div>
        </div>
    </body>
</html>