<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"/>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>
    <div class="container" th:object="${post}">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
               <header>
                   <h1 class="title" th:text="${post.title}"></h1>
                   <p class="blockquote-footer" th:text="${post.blog.title} + ' at ' + ${post.timestamp}"></p>
               </header>
                <p th:utext="${post.body}"></p>
            </div>
            <form class="form-group" th:action="@{'/b/' + ${post.blog.title} + '/' + ${post.urlFriendlyTitle} + '/comment'}" method="post">
                <div class="form-group" th:object="${newComment}">
                    <textarea id="commentBody" class="form-control" rows="3" th:field="*{body}"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div th:each="comment : ${comments}">
                <div>
                    <h5 th:text="${comment.user.username}">Commenter Name</h5>
                    <p th:utext="${comment.body}"></p>
                </div>
                <div th:if="${comment.isParent}">
                    <div th:each="subComment : ${comment.subComments}">
                        <div>
                            <h5 th:text="${subComment.user.username}">Commenter Name</h5>
                            <p th:text="${subComment.body}"></p>
                        </div>
                </div>
                <hr/>
            </div>
            </div>
        </div>
    </div>
    <script>var simplemde = new SimpleMDE({ element: document.getElementById("commentBody") });</script>
</body>
</html>